@using System.Security.Claims
@using Bazaro.Web.Models
@using Bazaro.Web.Services
@using Bazaro.Web.Services.Commands.Entries
@using Bazaro.Web.Services.Commands.Folders
@using Bazaro.Web.Services.ViewModels
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inject FolderService folderService
@inject EntryService entryService
@inject IHttpContextAccessor httpContext
@inject UserManager<User> userManager

<Menu Style="width: 256px; height: 100%;"
      Theme=theme
      DefaultSelectedKeys=@(new[] { "1" })
      DefaultOpenKeys=@(new[] { "sub1" })
      Mode=@MenuMode.Inline>
          <MenuItemGroup>
            <MenuItem>
                <Button @onclick="CreateEntry">Create Entry</Button>
            </MenuItem>
            <MenuItem>
                <Button @onclick="CreateFolder">Create Folder</Button>
            </MenuItem>
          </MenuItemGroup>
      @RenderFolderTree(_folders)
</Menu>

@code
{
    MenuTheme theme = MenuTheme.Dark;


    private FolderModel _rootFolder = new();
    private List<FolderModel> _folders = new();
    private List<EntryModel> _toplvlEntries = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadFolders();
        await LoadOrphanEntries();
    }

    private async Task LoadFolders()
    {
        // Get userID to retrieve folders and entries from the DB
        var username = httpContext.HttpContext.User.Identity.Name;
        var userId = (await userManager.FindByNameAsync(username)).Id;

        // Load root folder
        _rootFolder = await folderService.GetViewFolderStructureByuserId(new Services.Queries.Folders.GetViewSubfoldersStructureByUserId.Query
        {
            UserId = userId,
            FolderId = null,
        });

        if(_rootFolder.SubFolders is not null)
        {
            // Load subfolders into folders using recursive method
            _folders = await LoadFoldersAndSubFolders(_rootFolder.SubFolders);
        }
    }

    // Load entries that do not have a folder
    private async Task LoadOrphanEntries()
    {
        _toplvlEntries = await entryService.GetViewEntriesByFolderId(new Services.Queries.Entries.GetViewEntriesByFolderId.Query
        {
            FolderId = null
        });
    }

    // Recursive method to return folders and fill subfolders with subfolders
    private async Task<List<FolderModel>> LoadFoldersAndSubFolders(List<FolderModel> folders)
    {
        List<FolderModel> returnFolders = new();

        foreach(var folder in folders)
        {
            if(folder.SubFolders is not null)
            {
                folder.SubFolders = await LoadFoldersAndSubFolders(folder.SubFolders);
            }
            returnFolders.Add(folder);
        }
        return returnFolders;
    }

    // Render fragment for tree view
    private RenderFragment RenderFolderTree(List<FolderModel> folders)
    {
        return 
        @<div>
            @foreach(var folder in folders)
            {
                <MenuItemGroup Key="@folder.Id.ToString()" Title="@folder.Title">
                @if(folder.Entries is not null)
                {
                    @foreach(var entry in folder.Entries)
                    {
                        <MenuItem Key="@entry.Id.ToString()">@entry.Title</MenuItem>
                    }
                    @if(folder.SubFolders is not null)
                    {
                        RenderFolderTree(folder.SubFolders);
                    }        
                }
                </MenuItemGroup>
            }
        </div>
    ;
    }

    // Loads a given folder's entries
    private async Task LoadFolderEntries(FolderModel folder)
    {
        folder.Entries = await entryService.GetViewEntriesByFolderId(new Services.Queries.Entries.GetViewEntriesByFolderId.Query{
            FolderId = folder.Id
        });
    }

    // Query to create new Note / Entry
    private async Task CreateEntry()
    {
        // Send query
        await entryService.Insert(new InsertEntry.Command
        {
            Title = "New Note",
            Description = ""
        });
    }

    // Query to create new Folder
    private async Task CreateFolder()
    {
        string userId = (await userManager
            .FindByNameAsync(httpContext.HttpContext.User.Identity.Name))
            .Id;

        // Send query
        await folderService.Insert(new InsertFolder.Command
        {
            PreviousFolder = _rootFolder.Id,
            Title = "New Folder",
            Description = "",
            UserId = userId
        });
    }
}